@import "./variables.scss";
@import "./container.scss";
@import "./colors.scss";
@import "./spacers.scss";

$font-family-sans-serif: 'Roboto';

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "white": $white,
  "dark": $dark
);

$spacer: 8px;
$spacers: (
  0: 0,
  1: $spacer  / 2, //4px
  2: $spacer, //8px
  3: $spacer * 2, //16px
  4: $spacer *  3, //24px
  5: $spacer * 4, //32px
  6: $spacer * 5, // 40px
  7: $spacer * 6, //48px
);
